<h2>Show Place</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @place.name %>
  </li>

  <li>
    <strong>Lat:</strong>
    <%= @place.lat %>
  </li>

  <li>
    <strong>Lng:</strong>
    <%= @place.lng %>
  </li>

  <li>
    <strong>Address:</strong>
    <%= @place.address %>
  </li>

</ul>

<span><%= link "Edit", to: place_path(@conn, :edit, @place) %></span>
<span><%= link "Back", to: place_path(@conn, :index) %></span>
